<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anish Chapagai | Portfolio</title>

	<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projects.css' %}">
</head>
<body>
<!-- 	<embed src="loyalist.mp3" width="0" height="0" loop="true" autostart="true" hidden="true" /> -->
	<nav>
		<ul>
			<li class="intro selected"><a href="#intro">Introduction</a></li>
			<li class="academics"><a href="#academics">Academics</a></li>
			<li class="projects"><a href="#projects">Projects</a></li>
			<li class="participations"><a href="#participations">Participations</a></li>
			<li class="tools"><a href="#tools">Developer Tools</a></li>
			<li class="contact"><a href="#contact">Contact</a></li>
		</ul>
	</nav>
	<div class="view_container" >
		<div class="bg_image visible" id="intro">
			<img class="image1" src="https://i.pinimg.com/originals/9e/e6/3d/9ee63d0ab58dd52b7ae221ed8cefa1bb.jpg">
			<img class="image2" src="https://i.pinimg.com/originals/fd/c1/5f/fdc15fe6bec5111bb6279aa41369262f.jpg">
			<img class="image3" src="https://i.pinimg.com/originals/f9/fb/2f/f9fb2f61bfc41cf1b59a7d6c04616ef0.jpg">
			<div class="gradient_container"></div>
			<div class="bg_text">
				<ul>
				</ul>
			</div>
		</div>
		<div id="academics" class="">
			
		</div>
		<div id="projects" class="hidden">
			<div class='projects_container'>
				<ul>
					{% for i in Projects %}
						<li class='project'>
							<div class="title_bar">
								<div class='title'>{{ i.Name }}</div>
								<ul class='tools_container'>
									{% for t in i.Tools %}	
										<li class='tools'>
											<img src="{% static 'portfolio/assets/icons/' %}{{ t }}.svg">
										</li>
									{% endfor %}
								</ul>
								<span></span>
							</div>
							<div class='description'>
								<div class='text'>
									{{ i.Description }}
								</div>
								<div class='photo'>
									<a href="{{ i.ProjectLink }}">
										<img src="{{ i.Image }}">
										<div class='github_popup'>
											<span>
												<img src="{{ iconGithub }}">
											</span>
										</div>
									</a>
								</div>
							</div>
						</li>
					{% endfor %}	
				</ul>
			</div>
		</div>
		<div id="participations" class="hidden"></div>
		<div id="tools" class="hidden"></div>
		<div id="contact" class="hidden"></div>
		<button class="move_down" class="hidden">↓</button>
	</div>
</body>
<script type="text/javascript" src="{% static 'portfolio/js/index.js' %}"></script>
</html>