<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ Me.Name }} | Portfolio</title>

	<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projects.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/participations.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/contact.css' %}">
</head>
<body>
	<nav>
		<ul>
			<li class="intro selected"><a href="#intro">Introduction</a></li>
			<li class="academics"><a href="#academics">Academics</a></li>
			<li class="projects"><a href="#projects">Projects</a></li>
			<li class="participations"><a href="#participations">Participations</a></li>
			<li class="arts"><a href="#sketches">Cheap Sketches</a></li>
			<li class="contact"><a href="#contact">Contact</a></li>
		</ul>
	</nav>
	<div class="view_container" >
		<div class="bg_image visible" id="intro">
			<img class="image1" src="{{ Me.Image.0 }}">
			<img class="image2" src="{{ Me.Image.1 }}">
			<img class="image3" src="{{ Me.Image.2 }}">
			<div class="gradient_container"></div>
			<div class="bg_text">
				<ul>
				</ul>
			</div>
		</div>
		<div id="academics" class="">
			
		</div>
		<div id="projects" class="hidden">
			<div class='projects_container'>
				<ul>
					{% for i in Projects %}
						<li class='project'>
							<div class="title_bar">
								<div class='title'>{{ i.Name }}</div>
								<ul class='tools_container'>
									{% for t in i.Tools %}	
										<li class='tools'>
											<img src="{% static 'portfolio/assets/icons/' %}{{ t }}.svg">
										</li>
									{% endfor %}
								</ul>
								<span></span>
							</div>
							<div class='description'>
								<div class='text'>
									{{ i.Description }}
								</div>
								<div class='photo'>
									<a href="{{ i.ProjectLink }}">
										<img src="{{ i.Image }}">
										<div class='github_popup'>
											<span>
												<img src="{{ iconGithub }}">
											</span>
										</div>
									</a>
								</div>
							</div>
						</li>
					{% endfor %}	
				</ul>
			</div>
		</div>
		<div id="participations" class="hidden">
			<div class='par_container'>
				<ul class='par_ul'>
					{% for event in Event %}
						<li class='par_li'>
							<h3>{{ event.Name }}</h3>
							<div class='par_positioning_container'>
								<p>
									{{ event.Description }}
								</p>
								<a href="{{ event.Image }}" target='_blank'>
									<div class='par_image'>
										<div class='par_image_filter'></div>
										<img src="{{ event.Image }}">
									</div>
								</a>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div id="arts" class="hidden"></div>
		<div id="contact" class="hidden">
			<div class="cont_container">
				<h1>I'd love to hear from you</h1>
				<div class="cont_description_container">
					<div class="cont_art">
						<div class="cont_head"></div>
						<div class="cont_body_container">
							<div class="cont_body"></div>
							<div class="cont_left_hand"></div>
							<div class="cont_right_hand"></div>
						</div>
						<div class="cont_plat_container">
							<div class="cont_platform"></div>
							<div class="cont_thigh1"></div>
							<div class="cont_thigh2"></div>
						</div>
						<div class=cont_foot_container>
							<div class="cont_foot1"></div>
							<div class="cont_foot2"></div>
						</div>
					</div>
					<div class="cont_separator"></div>
					<div class="cont_description">
						<p>
							Got a project you'd like me to work on?<br>
							Or how about a friendly chat?<br>
							Or maybe let's go cycling together.<br>
						</p>
					</div>
				</div>
				<div class="cont_links">
					<ul>
						{% for i in Contact %}
							<li>
								<a href="{{ i.LinkSocial }}">
									<img src="{% static 'portfolio/assets/icons/' %}{{ i.IconSocial }}.svg">
								</a>
							</li>
						{% endfor %}
							<li id="cont_anon_message">
								<a href="#">
									<img src="{% static 'portfolio/assets/icons/anonymous.svg' %}">
								</a>								
							</li>
					</ul>
				</div>
				<div class="cont_anonymous">
					<div class='cont_anon_exit'>
						<div class="cont_anon_exit_left"></div>
						<div class="cont_anon_exit_right"></div>
					</div>
					<h1>Write to me here anonymously</h1>
					<form method="post" id="form" onsubmit="return false">
						{% csrf_token %}
						<div class="cont_anon_left">
							<input type="text" name="name" placeholder="Nickname*" required>
							<input type="text" name="email" placeholder="Email">
							<input type="text" name="phone" placeholder="Phone Number">
						</div>
						<textarea maxlength="1000" name="message" placeholder="Message*" required></textarea>
					</form>
					<button data-value="{% url 'portfolio:form' %}" form="form">Glide it away</button>
				</div>
			</div>
		</div>
		<button class="move_down" class="hidden">↓</button>
	</div>
	<div class="music paused">
		<audio loop>
			<source src="{% static 'portfolio/assets/music/music' %}">
		</audio>
	</div>
</body>
<script type="text/javascript" src="{% static 'portfolio/js/index.js' %}"></script>
</html>