<!DOCTYPE html>
<html>
<head>
	<title>Participations</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class='par_container'>
		<ul class='par_ul'>
			<li class='par_li'>
				<h3>Event Name</h3>
				<div class='par_positioning_container'>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<div class='par_image'>
						<div class='par_image_filter'></div>
						<img src="https://needl3.sirv.com/portfolio/github/basic_ml.png">
					</div>
				</div>
			</li>
			<li class='par_li'>
				<h3>Event Name 2</h3>
				<div class='par_positioning_container'>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<div class='par_image'>
						<div class='par_image_filter'></div>
						<img src="https://i.pinimg.com/originals/9e/e6/3d/9ee63d0ab58dd52b7ae221ed8cefa1bb.jpg">
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>