<div class='projects_container'>
	<ul>
		<li class='project'>
			<div class="title_bar">
				<div class='title'>Name</div>
				<ul class='tools_container'>
					<li class='tools'>Python</li>
					<li class='tools'>Python</li>
				</ul>
				<span></span>
			</div>
			<div class='description'>
				<div class='text'>
					
				</div>
				<div class='photo'>
					<img src="#">
					<div class='github_popup'>
						<span>
							Icon
						</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
