{% extends 'aniwatch/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'aniwatch/css/upload_csv.css' %}">
{% endblock style %}

{% block body %}
    <div class='form'>
        <h4>Import CSV</h4>
        <p>Make sure the csv contains headings as</p>
        <ul>
            {% for columns in headings %}
                <li>{{ columns }}</li>
            {% endfor %}
        </ul>
        <form method="post" enctype="multipart/form-data">
             {% csrf_token %}
            <input type="file" name="data"><br>
            <input type="password" name="key" placeholder="Secret Key Here">
            <button type="submit">Upload</button>        
      </form>
    </div>
{% endblock%}